<div class="card">
  <div class="card-header">
    Agregar empleado.
  </div>
  <div class="card-body">

    <form ngNativeValidate [formGroup]="formularioDeEmpleados" (ngSubmit)="enviarDatos()">
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre:</label>
        <input type="text" class="form-control" id="nombre" formControlName="nombre" aria-describedby="nombre" placeholder="Escribe tu nombre" required>
      </div>
      <div class="mb-3">
        <label for="correo" class="form-label">Correo:</label>
        <input type="email" class="form-control" id="correo" formControlName="correo" placeholder="Escribe tu correo" required>
      </div>
      <div class="btn-group" role="group" aria-label="Agregar o cancelar">
        <button type="button" routerLink="/listar-empleado" class="btn btn-dark">Cancelar</button>
        <button type="submit" class="btn btn-primary">Agregar</button>
      </div>
    </form>

  </div>
</div>